extends ../layout

block content
	h1.text-center= category.name
	.row
		if products
			for product in products
				.col-md-4
					.inner.border-radius
						.thumbnail
							img(src="#{product.image}")
							.caption
								h3
									a(href="/product/#{product._id}")= product.name
								h5 $ #{product.price}
								h5= product.category.name